.main {
    width: 70%;
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    animation-name: left_to_right;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
}

@keyframes left_to_right {
    from {
        transform: translateX(-20vw);
    }
    to {
        transform: translateX(0);
    }
}

@media screen and (max-width: 1000px) {
    .main {
        width: 100%;
    }
}