.sidebar {
    width: 30%;
    height: 100vh;
    background: rgba(0, 0, 51);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    animation-name: right_to_left;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
}

@keyframes right_to_left {
    from {
        transform: translateX(20vw);
    }
    to {
        transform: translateX(0);
    }
}

@media screen and (max-width: 1000px) {
    .sidebar {
        width: 100%;
    }
}